# Imports

In [12]:
import re
import pandas as pd

## Data Cleaning

In [13]:
accounts_data_df= pd.read_csv("anuj_100_freshales_31st August.csv")
phone_numbers=accounts_data_df.loc[:, ['Phone']]
phone_numbers

                Phone
0                 NaN
1        098739 30018
2                 NaN
3                 NaN
4   '+91-11-26382324'
..                ...
95                NaN
96                NaN
97   '+91-9740000662'
98                NaN
99                NaN

[100 rows x 1 columns]

### Clean Phone Numbers

In [15]:
# Function to clean phone numbers
def standardize_phone_number(phone):
    if pd.isna(phone):
        return None
    
    # Remove all non-numeric characters
    cleaned_phone = re.sub(r'\D', '', phone)
    
    # Ensure the phone number is in the format you want
    # For example, assuming you want international format: +<country_code> <phone_number>
    if len(cleaned_phone) == 10:
        return '+91 ' + cleaned_phone  # Assuming +91 is the country code
    elif len(cleaned_phone) == 11 and cleaned_phone.startswith('0'):
        return '+91 ' + cleaned_phone[1:]  # Removing leading zero for the country code
    else:
        return cleaned_phone

# Apply the function to the 'Phone' column
phone_numbers['Standardized Phone'] = phone_numbers['Phone'].apply(standardize_phone_number)

# Remove the original column if no longer needed
phone_numbers = phone_numbers.drop(columns=['Phone'])

# Display the result
print(phone_numbers)

   Standardized Phone
0                None
1      +91 9873930018
2                None
3                None
4        911126382324
..                ...
95               None
96               None
97       919740000662
98               None
99               None

[100 rows x 1 columns]

In [16]:


# Extract the 'Phone' column
phone_numbers = accounts_data_df[['Phone']]

# Function to standardize phone numbers
def standardize_phone_number(phone):
    if pd.isna(phone):
        return None
    
    # Remove all non-numeric characters
    cleaned_phone = re.sub(r'\D', '', phone)
    
    # Standardize to international format
    if len(cleaned_phone) == 10:
        return '+91 ' + cleaned_phone  # Assuming +91 is the country code
    elif len(cleaned_phone) == 11 and cleaned_phone.startswith('0'):
        return '+91 ' + cleaned_phone[1:]  # Removing leading zero for the country code
    elif len(cleaned_phone) == 12 and cleaned_phone.startswith('91'):
        return '+' + cleaned_phone  # Already in international format, just add '+'
    else:
        return cleaned_phone  # Return as is if not fitting expected formats

# Apply the standardization function
phone_numbers['Standardized Phone'] = phone_numbers['Phone'].apply(standardize_phone_number)

# Optionally, drop the old 'Phone' column
phone_numbers = phone_numbers.drop(columns=['Phone'])

# Display the standardized phone numbers
print(phone_numbers)

   Standardized Phone
0                None
1      +91 9873930018
2                None
3                None
4       +911126382324
..                ...
95               None
96               None
97      +919740000662
98               None
99               None

[100 rows x 1 columns]

C:\Users\AnujSingh\AppData\Local\Temp\ipykernel_13444\4013032854.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  phone_numbers['Standardized Phone'] = phone_numbers['Phone'].apply(standardize_phone_number)

Zip code

In [27]:
accounts_data_df= pd.read_csv("anuj_100_freshales_31st August.csv")
Zipcode=accounts_data_df.loc[:, ['Zipcode']]


Zipcode

   Zipcode
0    32819
1   201301
2   123501
3   122002
4   110020
..     ...
95     NaN
96     NaN
97  560091
98     NaN
99  400028

[100 rows x 1 columns]

Clean Zip Code

Account Name

In [31]:
accounts_data_df= pd.read_csv("anuj_100_freshales_31st August.csv")
Account_name=accounts_data_df.loc[:, ['Name']]


Account_name

                                                 Name
0                           Mahathi Software Pvt Ltd.
1                                    Nray Enterprises
2                Koyo Bearings India Private Limited.
3                                               BWSSC
4                                       A. V. Systems
..                                                ...
95                           Watrana Traction Company
96                            Hans Infomatic Pvt Ltd.
97  Global Product Compliance Consultancy Services...
98                                          The Hindu
99                               Maratha Oil Refinery

[100 rows x 1 columns]

In [ ]:
files = [file for file in os.listdir("C:/Users\AnujSingh/OneDrive - Foetron Consultancy Services Pvt Ltd/Documents/Foetron/Coding/D365AccountsETL/anuj_100_freshales_31st August.csv")]
df = pd.DataFrame()
for file in files:
    data = pd.read_csv

### Cleaning Accounts

In [48]:
import pandas as pd
import os


# Load the source CSV file
source_file = os.path.join("anuj_100_freshales_31st August.csv")
data = pd.read_csv(source_file)

# Process the data if needed (e.g., standardize names)
def standardize_name(name):
    # Capitalizes the account names
    # does not: 
    #    - pvt to private 
    #    - beautiful soup and linkedin validation 
    #    - name correction from zauba or mca 
    return name.strip().title()

data['Standardized Name'] = data['Name'].apply(standardize_name)
print(data['Standardized Name'].head())

# Save the processed data to the destination CSV file
destination_file = os.path.join("transformed", "anuj_100_fs_to_d365_transformed v1.csv")
data.to_csv(destination_file, index=False)

print("File has been transferred successfully!")

0               Mahathi Software Pvt Ltd.
1                        Nray Enterprises
2    Koyo Bearings India Private Limited.
3                                   Bwssc
4                           A. V. Systems
Name: Standardized Name, dtype: object
File has been transferred successfully!

In [30]:

# Assuming accounts_data_df is your DataFrame and 'Zipcode' is the column name
# Extract the 'Zipcode' column
zip_codes = accounts_data_df[['Zipcode']]

# Function to standardize ZIP codes
def standardize_zip_code(zip_code):
    if pd.isna(zip_code):
        return None
    
    # Remove all non-numeric characters
    cleaned_zip = re.sub(r'\D', '', str(zip_code))
    
    # Standardize the format
    if len(cleaned_zip) == 5:
        return cleaned_zip  # 5-digit ZIP code
    elif len(cleaned_zip) == 9:
        return cleaned_zip[:5] + '-' + cleaned_zip[5:]  # Convert to 9-digit ZIP code (12345-6789)
    else:
        return cleaned_zip  # Return as is if not fitting the expected format

# Apply the standardization function
zip_codes['Standardized Zipcode'] = zip_codes['Zipcode'].apply(standardize_zip_code)

# Optionally, drop the old 'Zipcode' column
zip_codes = zip_codes.drop(columns=['Zipcode'])

# Display the standardized ZIP codes
print(zip_codes)

   Standardized Zipcode
0                 32819
1                201301
2                123501
3                122002
4                110020
..                  ...
95                 None
96                 None
97               560091
98                 None
99               400028

[100 rows x 1 columns]

C:\Users\AnujSingh\AppData\Local\Temp\ipykernel_13444\2852733207.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zip_codes['Standardized Zipcode'] = zip_codes['Zipcode'].apply(standardize_zip_code)

### Browser Fetch Automation  (Linkedin , Zauba Corp)

In [1]:
# import requests
# from bs4 import BeautifulSoup
# from urllib.parse import quote_plus

# def correct_company_name(name):
#     # Basic example of name correction: strip leading/trailing whitespace and fix common typos
#     corrected_name = name.strip()
#     # Add more correction logic as needed
#     return corrected_name

# def scrape_mca_data(cin):
#     try:
#         # URL encode the CIN to handle special characters
#         encoded_cin = quote_plus(cin)
#         URL = f'https://www.mca.gov.in/mcafoportal/companySearch.do?searchType=company&searchCriteria={encoded_cin}'
        
#         response = requests.get(URL)
#         if response.status_code != 200:
#             raise Exception(f'Failed to fetch data, status code: {response.status_code}')
        
#         soup = BeautifulSoup(response.content, 'html.parser')
        
#         # Find and parse the relevant data
#         company_data = {}
#         company_name = soup.find('div', class_='companyName')
#         if company_name:
#             company_data['name'] = company_name.get_text(strip=True)
        
#         company_details = soup.find_all('div', class_='details')
#         for detail in company_details:
#             label = detail.find('span', class_='label').get_text(strip=True)
#             value = detail.find('span', class_='value').get_text(strip=True)
#             company_data[label] = value
        
#         return company_data
    
#     except Exception as e:
#         print(f'Error: {str(e)}')
#         return None


# cin = input('Enter CIN number: ').strip().upper()
# if not cin:
#     print('CIN number is required!')


# corrected_cin = correct_company_name(cin)
# company_data = scrape_mca_data(corrected_cin)

# if company_data:
#     print('Company Data:', company_data)
# else:
#     print('No data found for the given CIN.')

CIN number is required!
Error: Failed to fetch data, status code: 403
No data found for the given CIN.

In [14]:
accounts_data_df= pd.read_csv("anuj_100_freshales_31st August.csv")
Account_name=accounts_data_df.loc[:, ['Name']]
Account_name

                                                 Name
0                           Mahathi Software Pvt Ltd.
1                                    Nray Enterprises
2                Koyo Bearings India Private Limited.
3                                               BWSSC
4                                       A. V. Systems
..                                                ...
95                           Watrana Traction Company
96                            Hans Infomatic Pvt Ltd.
97  Global Product Compliance Consultancy Services...
98                                          The Hindu
99                               Maratha Oil Refinery

[100 rows x 1 columns]

In [31]:
accounts_data_df= pd.read_csv("Destination/anuj_100_fs_to_d365_transformed v1.csv")
Account_name=accounts_data_df.loc[:, ['Name']]
Account_name

                                                 Name
0                           Mahathi Software Pvt Ltd.
1                                    Nray Enterprises
2                Koyo Bearings India Private Limited.
3                                               BWSSC
4                                       A. V. Systems
..                                                ...
95                           Watrana Traction Company
96                            Hans Infomatic Pvt Ltd.
97  Global Product Compliance Consultancy Services...
98                                          The Hindu
99                               Maratha Oil Refinery

[100 rows x 1 columns]

In [13]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time
from bs4 import BeautifulSoup
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

# Load CSV file
file_path = r'C:\Users\AnujSingh\OneDrive - Foetron Consultancy Services Pvt Ltd\Documents\Foetron\Coding\D365AccountsETL\Destination\anuj_100_fs_to_d365_transformed v1.csv'
df = pd.read_csv(file_path)

# Assuming the company names are stored in a column named 'Name'
company_names = df['Name']

# Set up Selenium WebDriver using Service
service = Service(ChromeDriverManager().install())
driver = webdriver.Chrome(service=service)

def search_zauba_corp(company_name):
    # Open ZaubaCorp website
    driver.get('https://www.zaubacorp.com/')
    
    # Find the search box and input the company name
    search_box = driver.find_element(By.ID, "searchid")
    search_box.clear()
    search_box.send_keys(company_name)
    search_box.send_keys(Keys.RETURN)
    
    time.sleep(2)  # Wait for the page to load

    # Parse the results page with BeautifulSoup
    soup = BeautifulSoup(driver.page_source, 'html.parser')
    
    # Extract company details (company name, company status, CIN, etc.)
    details = {}
    
    try:
        # Fetching the correct company name as displayed on ZaubaCorp
        correct_name = soup.find('a', href=True).text.strip()
        details['Correct_Name'] = correct_name
    except AttributeError:
        details['Correct_Name'] = 'Not Found'
    
    return details

# Loop through each company name in the CSV file
for i, company in enumerate(company_names):
    details = search_zauba_corp(company)
    
    # If the correct company name is found, update it in the DataFrame
    if details['Correct_Name'] != 'Not Found':
        print(f"Updating {company} to {details['Correct_Name']}")
        df.at[i, 'Name'] = details['Correct_Name']  # Update the company name with the corrected name

# Save the updated DataFrame back to the CSV
df.to_csv(file_path, index=False)  # Overwrite the original file with corrected names

# Close the Selenium driver
driver.quit()

print("Company names updated successfully.")

Updating Mahathi Software Pvt Ltd. to Skip to main content
Updating Nray Enterprises to Skip to main content
Updating Koyo Bearings India Private Limited. to Skip to main content
Updating BWSSC to Skip to main content
Updating A. V. Systems to Skip to main content
Updating Mansui Trading Pvt.Ltd. to Skip to main content
Updating ACS Infotech Pvt. Ltd. to Skip to main content
Updating Saigun Technologies Pvt. Ltd. / Empxtrack, Inc to Skip to main content
Updating QVC Realty Co. Limited to Skip to main content
Updating Light Ray Advisors - Elevation Capital to Skip to main content
Updating Neco Industries Limited to Skip to main content
Updating Holostik India Ltd. to Skip to main content
Updating IPE Global Ltd to Skip to main content
Updating Acidaes Solutions Private Limited (CRMNEXT) to Skip to main content
Updating Parijat Industries India Pvt. Ltd to Skip to main content
Updating Exzeo Software to Skip to main content
Updating Safexpress Pvt Ltd to Skip to main content
Updating Tiger Logistics India Limited to Skip to main content

NoSuchWindowException: Message: no such window: target window already closed
from unknown error: web view not found
  (Session info: chrome=128.0.6613.120)
Stacktrace:
	GetHandleVerifier [0x00998213+26163]
	(No symbol) [0x00929CC4]
	(No symbol) [0x008224C3]
	(No symbol) [0x007FE27B]
	(No symbol) [0x0089192F]
	(No symbol) [0x008A3F99]
	(No symbol) [0x0088AA56]
	(No symbol) [0x0085BE89]
	(No symbol) [0x0085C8CD]
	GetHandleVerifier [0x00C6D313+2996019]
	GetHandleVerifier [0x00CC1B89+3342249]
	GetHandleVerifier [0x00A27AEF+614159]
	GetHandleVerifier [0x00A2F17C+644508]
	(No symbol) [0x009327FD]
	(No symbol) [0x0092F6F8]
	(No symbol) [0x0092F895]
	(No symbol) [0x00921C16]
	BaseThreadInitThunk [0x772C7BA9+25]
	RtlInitializeExceptionChain [0x776BC10B+107]
	RtlClearBits [0x776BC08F+191]

### ZAUBA DATA UPADATE

In [14]:
# import pandas as pd
# from selenium import webdriver
# from selenium.webdriver.common.keys import Keys
# from selenium.webdriver.common.by import By
# import time
# from bs4 import BeautifulSoup
# from selenium.webdriver.chrome.service import Service
# from webdriver_manager.chrome import ChromeDriverManager
# from fuzzywuzzy import fuzz, process

# # Load CSV file
# file_path = r'C:\Users\AnujSingh\OneDrive - Foetron Consultancy Services Pvt Ltd\Documents\Foetron\Coding\D365AccountsETL\Destination\anuj_100_fs_to_d365_transformed v1.csv'
# df = pd.read_csv(file_path)

# # Assuming the company names are stored in a column named 'Name'
# company_names = df['Name']

# # company names - split - [0][1]match with zauba
# # corporate limited 
# # private limited 

# # corner case 
# # Holding company 
# # seperate company out 


# # make seperate files - 


# # Set up Selenium WebDriver using Service
# service = Service(ChromeDriverManager().install())
# driver = webdriver.Chrome(service=service)

# def search_zauba_corp(company_name):
#     # Open ZaubaCorp website
#     driver.get('https://www.zaubacorp.com/')
    
#     # Find the search box and input the company name
#     search_box = driver.find_element(By.ID, "searchid")
#     search_box.clear()
#     search_box.send_keys(company_name)
#     search_box.send_keys(Keys.RETURN)
    
#     time.sleep(2)  # Wait for the page to load

#     # Parse the results page with BeautifulSoup
#     soup = BeautifulSoup(driver.page_source, 'html.parser')
    
#     # Extract company details (company name, company status, CIN, etc.)
#     details = {}
    
#     try:
#         # Fetching the correct company name as displayed on ZaubaCorp
#         search_results = soup.find_all('a', href=True)
#         # Extracting all company names from the search results
#         company_names_from_zauba = [result.text.strip() for result in search_results]
        
#         # Use fuzzy matching to find the closest match to the original company name
#         if company_names_from_zauba:
#             best_match, match_score = process.extractOne(company_name, company_names_from_zauba, scorer=fuzz.token_sort_ratio)
#             details['Correct_Name'] = best_match if match_score > 70 else 'Not Found'
#         else:
#             details['Correct_Name'] = 'Not Found'
#     except AttributeError:
#         details['Correct_Name'] = 'Not Found'
    
#     return details

# # Loop through each company name in the CSV file
# # run for only 10
# for i, company in enumerate(company_names):
#     details = search_zauba_corp(company)
    
#     # If the correct company name is found, update it in the DataFrame
#     if details['Correct_Name'] != 'Not Found':
#         print(f"Updating {company} to {details['Correct_Name']} (Match Score: {fuzz.token_sort_ratio(company, details['Correct_Name'])})")
#         df.at[i, 'Name'] = details['Correct_Name']  # Update the company name with the corrected name

# # Save the updated DataFrame back to the CSV
# df.to_csv("updated.csv", index=False)  # Overwrite the original file with corrected names

# # Close the Selenium driver
# driver.quit()

# print("Company names updated successfully.")

Updating Nray Enterprises to RRAY9 ENTERPRISES LLP (Match Score: 81)
Updating ACS Infotech Pvt. Ltd. to ACES INFOTECH PVT LTD (Match Score: 98)
Updating QVC Realty Co. Limited to QVC REALTY CO. LIMITED (Match Score: 100)
Updating Neco Industries Limited to NECO INDUSTRIES LIMITED (Match Score: 100)
Updating Tiger Logistics India Limited to TIGER LOGISTICS (INDIA) LIMITED (Match Score: 100)
Updating Alok Industries Private Limited to ALOX INDUSTRIES PRIVATE LIMITED (Match Score: 97)
Updating S.Chand & Company Pvt Ltd to HARAKH CHAND SARAOGI & COMPANY PVT.LTD. (Match Score: 78)
Updating Savannah Seeds Private Limited to SAVANNAH SEEDS PRIVATE LIMITED (Match Score: 100)
Updating Avantha Technologies Limited to AVANTHA TECHNOLOGIES LIMITED (Match Score: 100)
Updating Mark Software Systems to MARK SOFTWARE SYSTEMS PRIVATE LIMITED (Match Score: 72)
Updating FLOVEL Energy Private Limited to FLOVEL ENERGY PRIVATE LIMITED (Match Score: 100)
Updating Kapadia Associates Design LLP to KAPADIA ASSOCIATES DESIGN LLP (Match Score: 100)
Updating SS Associates to DS & ASSOCIATES LLP (Match Score: 80)
Updating KARL STORZ Endoscopy India Private Limited to KARL STORZ ENDOSCOPY INDIA PRIVATE LIMITED (Match Score: 100)
Updating Templatolio Technologies to TEMPLATOLIO TECHNOLOGIES PRIVATE LIMITED (Match Score: 75)
Updating HealthFore Technologies Limited to HEALTHFORE TECHNOLOGIES LIMITED (Match Score: 100)
Updating Quick Sort India Private Limited to QUICK SORT (INDIA) PRIVATE LIMITED (Match Score: 100)
Updating Competent Synergies Private Limited to COMPETENT SYNERGIES PRIVATE LIMITED (Match Score: 100)
Updating SPAG Consultants Pvt Ltd. to SPAM ENGINEERING CONSULTANTS PVT. LTD. (Match Score: 77)
Updating Network Advertising to NETWORK ADVERTISING PVT LTD (Match Score: 83)
Updating Jindal SAW Limited to JINDAL SAW LIMITED (Match Score: 100)
Updating Kalahanu Retail Venture Limited to KALAHANU RETAIL VENTURE PRIVATE LIMITED (Match Score: 89)
Updating Grazitti Interactive to GRAZITTI INTERACTIVE LLP (Match Score: 91)
Updating Madhusudan Auto Limited to MADHUSUDAN AUTO PRIVATE LIMITED (Match Score: 85)
Updating YS Communications Pvt. Ltd. to M&PS COMMUNICATIONS PVT LTD (Match Score: 85)
Company names updated successfully.

### ZAUBA UPDATE

In [17]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time
from bs4 import BeautifulSoup
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from fuzzywuzzy import fuzz, process
import re

# Load CSV file
file_path = r'C:\Users\AnujSingh\OneDrive - Foetron Consultancy Services Pvt Ltd\Documents\Foetron\Coding\D365AccountsETL\Destination\anuj_100_fs_to_d365_transformed v1.csv'
df = pd.read_csv(file_path)

# Define common terms to ignore
ignore_terms = ['Limited', 'Private Limited', 'Pvt Ltd', 'Corp', 'LLC', 'Inc']

# Function to clean and preprocess company names
def preprocess_name(name):
    # Convert to lowercase
    name = name.lower()
    # Remove terms from the ignore list
    for term in ignore_terms:
        name = re.sub(r'\b' + re.escape(term.lower()) + r'\b', '', name)
    # Remove extra spaces and return the cleaned name
    return ' '.join(name.split())

# Preprocess company names in DataFrame
df['Processed_Name'] = df['Name'].apply(preprocess_name)

# Set up Selenium WebDriver using Service
service = Service(ChromeDriverManager().install())
driver = webdriver.Chrome(service=service)

def search_zauba_corp(company_name):
    # Open ZaubaCorp website
    driver.get('https://www.zaubacorp.com/')
    
    # Find the search box and input the company name
    search_box = driver.find_element(By.ID, "searchid")
    search_box.clear()
    search_box.send_keys(company_name)
    search_box.send_keys(Keys.RETURN)
    
    time.sleep(2)  # Wait for the page to load

    # Parse the results page with BeautifulSoup
    soup = BeautifulSoup(driver.page_source, 'html.parser')
    
    # Extract company details (company name, company status, CIN, etc.)
    details = {}
    
    try:
        # Fetching the correct company name as displayed on ZaubaCorp
        search_results = soup.find_all('a', href=True)
        # Extracting all company names from the search results
        company_names_from_zauba = [result.text.strip() for result in search_results]
        
        # Use fuzzy matching to find the closest match to the original company name
        if company_names_from_zauba:
            best_match, match_score = process.extractOne(company_name, company_names_from_zauba, scorer=fuzz.token_sort_ratio)
            details['Correct_Name'] = best_match if match_score > 70 else 'Not Found'
        else:
            details['Correct_Name'] = 'Not Found'
    except AttributeError:
        details['Correct_Name'] = 'Not Found'
    
    return details

# Separate DataFrames for different cases
df_corrected = pd.DataFrame(columns=['Original_Name', 'Correct_Name'])
df_not_found = pd.DataFrame(columns=['Original_Name'])
df_holding_company = pd.DataFrame(columns=['Original_Name'])
df_separate_company = pd.DataFrame(columns=['Original_Name'])

# Loop through each company name in the CSV file
for i, row in df.iterrows():
    company = row['Name']
    details = search_zauba_corp(company)
    
    # Handle different cases
    if details['Correct_Name'] != 'Not Found':
        corrected_name = details['Correct_Name']
        print(f"Updating {company} to {corrected_name} (Match Score: {fuzz.token_sort_ratio(company, corrected_name)})")
        df_corrected = pd.concat([df_corrected, pd.DataFrame({'Original_Name': [company], 'Correct_Name': [corrected_name]})], ignore_index=True)
    else:
        # Check for corner cases
        if 'holding company' in company.lower():
            df_holding_company = pd.concat([df_holding_company, pd.DataFrame({'Original_Name': [company]})], ignore_index=True)
        elif 'separate company' in company.lower():
            df_separate_company = pd.concat([df_separate_company, pd.DataFrame({'Original_Name': [company]})], ignore_index=True)
        else:
            df_not_found = pd.concat([df_not_found, pd.DataFrame({'Original_Name': [company]})], ignore_index=True)

# Save DataFrames to separate CSV files
df_corrected.to_csv('corrected_company_names.csv', index=False)
df_not_found.to_csv('not_found_company_names.csv', index=False)
df_holding_company.to_csv('holding_company_names.csv', index=False)
df_separate_company.to_csv('separate_company_names.csv', index=False)

# Close the Selenium driver
driver.quit()

print("Company names updated successfully.")

Updating RRAY9 ENTERPRISES LLP to RRAY9 ENTERPRISES LLP (Match Score: 100)
Updating ACES INFOTECH PVT LTD to ACES INFOTECH PVT LTD (Match Score: 100)
Updating QVC REALTY CO. LIMITED to QVC REALTY CO. LIMITED (Match Score: 100)
Updating NECO INDUSTRIES LIMITED to NECO INDUSTRIES LIMITED (Match Score: 100)
Updating TIGER LOGISTICS (INDIA) LIMITED to TIGER LOGISTICS (INDIA) LIMITED (Match Score: 100)
Updating ALOX INDUSTRIES PRIVATE LIMITED to ALOX INDUSTRIES PRIVATE LIMITED (Match Score: 100)
Updating HARAKH CHAND SARAOGI & COMPANY PVT.LTD. to HARAKH CHAND SARAOGI & COMPANY PVT.LTD. (Match Score: 100)
Updating SAVANNAH SEEDS PRIVATE LIMITED to SAVANNAH SEEDS PRIVATE LIMITED (Match Score: 100)
Updating AVANTHA TECHNOLOGIES LIMITED to AVANTHA TECHNOLOGIES LIMITED (Match Score: 100)
Updating MARK SOFTWARE SYSTEMS PRIVATE LIMITED to MARK SOFTWARE SYSTEMS PRIVATE LIMITED (Match Score: 100)
Updating FLOVEL ENERGY PRIVATE LIMITED to FLOVEL ENERGY PRIVATE LIMITED (Match Score: 100)
Updating KAPADIA ASSOCIATES DESIGN LLP to KAPADIA ASSOCIATES DESIGN LLP (Match Score: 100)
Updating DS & ASSOCIATES LLP to DS & ASSOCIATES LLP (Match Score: 100)
Updating KARL STORZ ENDOSCOPY INDIA PRIVATE LIMITED to KARL STORZ ENDOSCOPY INDIA PRIVATE LIMITED (Match Score: 100)
Updating TEMPLATOLIO TECHNOLOGIES PRIVATE LIMITED to TEMPLATOLIO TECHNOLOGIES PRIVATE LIMITED (Match Score: 100)
Updating HEALTHFORE TECHNOLOGIES LIMITED to HEALTHFORE TECHNOLOGIES LIMITED (Match Score: 100)
Updating QUICK SORT (INDIA) PRIVATE LIMITED to QUICK SORT (INDIA) PRIVATE LIMITED (Match Score: 100)
Updating COMPETENT SYNERGIES PRIVATE LIMITED to COMPETENT SYNERGIES PRIVATE LIMITED (Match Score: 100)
Updating SPAM ENGINEERING CONSULTANTS PVT. LTD. to SPAM ENGINEERING CONSULTANTS PVT. LTD. (Match Score: 100)
Updating NETWORK ADVERTISING PVT LTD to NETWORK ADVERTISING PVT LTD (Match Score: 100)
Updating JINDAL SAW LIMITED to JINDAL SAW LIMITED (Match Score: 100)
Updating KALAHANU RETAIL VENTURE PRIVATE LIMITED to KALAHANU RETAIL VENTURE PRIVATE LIMITED (Match Score: 100)
Updating GRAZITTI INTERACTIVE LLP to GRAZITTI INTERACTIVE LLP (Match Score: 100)
Updating MADHUSUDAN AUTO PRIVATE LIMITED to MADHUSUDAN AUTO PRIVATE LIMITED (Match Score: 100)
Updating M&PS COMMUNICATIONS PVT LTD to M&PS COMMUNICATIONS PVT LTD (Match Score: 100)
Company names updated successfully.